.nav {
  height: 60px;
  background-color: #494961;
  display: flex;
  justify-content: space-between;
}
.nav .fh {
  font-size: 30px;
  color: #fff;
  line-height: 60px;
  margin-left: 10px;
}
.nav .grxx {
  font-size: 24px;
  color: #fff;
  line-height: 60px;
}
.nav .wc {
  font-size: 20px;
  color: #fff;
  height: 20px;
  margin-top: 15px;
  margin-right: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}
.cont {
  background-color: #f3f2f2;
  overflow: hidden;
  height: 100vh;
}
.cont_wp {
  background: url(../images/grbg.png);
  height: 200px;
  background-size: cover;
}
