.nav {
  height: 1.46666667rem;
  background-color: #494961;
  display: flex;
  justify-content: space-between;
}
.nav .fh {
  font-size: 0.4rem;
  color: #fff;
  line-height: 1.46666667rem;
  margin-left: 0.13333333rem;
}
.nav .zc {
  font-size: 0.4rem;
  color: #fff;
  line-height: 1.46666667rem;
}
.cont {
  background-color: #f3f2f2;
  height: 91vh;
}
.cont_wp {
  width: 80%;
  margin: 0px auto;
  overflow: hidden;
}
.cont_wp .zh_wp {
  margin-top: 1.6rem;
  background-color: #fff;
}
.cont_wp .sjj {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cont_wp .sjj label {
  font-size: 0.66666667rem;
  margin-left: 0.26666667rem;
  display: inline-block;
  margin-top: 0.53333333rem;
  color: #c6ab7f;
}
.cont_wp .one_p {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%;
  margin-left: 0.26666667rem;
  border-bottom: 1px solid #ccc;
}
.cont_wp .one_p .hq {
  text-align: center;
  margin-bottom: -0.26666667rem;
  color: #c6ab7f;
  width: 1.8rem;
  height: 0.8rem;
  line-height: 0.8rem;
}
.cont_wp #sjh {
  border: none;
  height: 1.06666667rem;
  width: 76%;
  margin-top: 0.4rem;
}
.cont_wp .zh_wp p:nth-child(2) label {
  font-size: 0.66666667rem;
  margin-left: 0.26666667rem;
  display: inline-block;
  margin-top: 0.53333333rem;
  color: #c6ab7f;
}
.cont_wp .zh_wp p:nth-child(2) {
  display: flex;
  justify-content: flex-start;
}
.cont_wp #yzm {
  border: none;
  height: 1.06666667rem;
  margin-left: 0.26666667rem;
  width: 80%;
  border-bottom: 1px solid #ccc;
  margin-top: 0.26666667rem;
}
.cont_wp .zh_wp p:nth-child(3) label {
  font-size: 0.66666667rem;
  margin-left: 0.26666667rem;
  display: inline-block;
  margin-top: 0.53333333rem;
  color: #c6ab7f;
}
.cont_wp .zh_wp p:nth-child(3) {
  display: flex;
  justify-content: flex-start;
}
.cont_wp #mm {
  border: none;
  height: 1.06666667rem;
  margin-left: 0.26666667rem;
  width: 80%;
  border-bottom: 1px solid #ccc;
  margin-top: 0.26666667rem;
}
.cont_wp .zh_wp p:nth-child(4) label {
  font-size: 0.53333333rem;
  margin-left: 0.34666667rem;
  display: inline-block;
  margin-top: 0.53333333rem;
  color: #c6ab7f;
}
.cont_wp .zh_wp p:nth-child(4) {
  display: flex;
  justify-content: flex-start;
}
.cont_wp #cfmm {
  border: none;
  height: 1.06666667rem;
  margin-left: 0.13333333rem;
  width: 80%;
  margin-top: 0.26666667rem;
  border-bottom: 1px solid #ccc;
}
.cont_wp .zh_wp p:nth-child(5) label {
  font-size: 0.66666667rem;
  margin-left: 0.26666667rem;
  display: inline-block;
  margin-top: 0.53333333rem;
  color: #c6ab7f;
}
.cont_wp .zh_wp p:nth-child(5) {
  display: flex;
  justify-content: flex-start;
}
.cont_wp #nc {
  border: none;
  height: 1.06666667rem;
  margin-left: 0.26666667rem;
  width: 80%;
  margin-top: 0.26666667rem;
}
.btn_zc {
  width: 100%;
  height: 1.06666667rem;
  background-color: #25252f;
  margin-top: 1.33333333rem;
  color: #fff;
  border: none;
  border-radius: 5px;
}
